*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-family: 'Poppins';
	color: black;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

[class*="__container"] {
	max-width: 1221px;
	margin: 0 auto;
	padding: 0 10px;
}

body._lock {
	overflow: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}
.main {
	flex: 1 1 auto;
}
.menu__body._active {
	right: 0;
}
.menu__icon._active span {
	transform: scale(0) translate(0px, -50%);
}
.menu__icon._active::before {
	top: 50%;
	transform:  translate(0px, -50%) rotate(-45deg);
}
.menu__icon._active::after {
	bottom: 50%;
	transform: translate(0px, 50%) rotate(45deg);
}
/* ------------------ */

.header {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.header__container {
	display: flex;
	min-height: 107px;
	justify-content: space-between;
	align-items: center;
}
.header__menu {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
}
.header__logo {
	z-index: 10;
}
.menu__icon {
	display: none;
}
@media (min-width: 768px) {
	.menu__list {
		display: flex;
		gap: 35px;
	}
}
.menu__link {
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	text-transform: uppercase;
}
.header__lang {
	z-index: 5;
	display: flex;
	gap: 8px;
}
.lang__choise {
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	text-transform: uppercase;
	color: #B7B7B7;
}
@media(max-width: 768px) {
	.header__menu {
		justify-content: flex-end;
		margin-right: 24px;
	}
	.menu__icon {
		z-index: 5;
		position: relative;
		display: block;
		top: 0;
		right: 0;
		width: 31px;
		height: 21px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		position: absolute;
		width: 100%;
		height: 10%;
		background-color: #fff;
		transition: all 0.3s ease 0s;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__body {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background: rgba( 255, 255, 255, 0.1 );
		box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
		backdrop-filter: blur( 15px );
		-webkit-backdrop-filter: blur( 15px );
		border-radius: 10px;
		border: 1px solid rgba( 255, 255, 255, 0.18 );
		padding: 120px 30px 30px 30px;
		transition: right 0.3s ease 0s;
	}
	.menu__list li {
		margin-bottom: 50px;
	}
}
/* ------------------- */

.service {
	background: url(../img/cars-background.jpg);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
}
.service__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
}
.service__title {
	font-weight: 700;
	font-size: calc(38px + 10 * (100vw /1221));
	line-height: 150%;
	text-transform: uppercase;
	color: #FFFFFF;
	max-width: 791px;
}
.service__button {
	width: 198px;
	height: 40.28px;
	background: #DB2512;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: #FFFFFF;
}
@media(max-width: 768px) {
	.service {
		background-position: center;
	}
}
@media(max-width: 480px) {
	.service {
		background-position: center right -400px;
	}
}

/* ------------------- */

.diagnostic {
	position: relative;
	top: -98px
}
.diagnoctic__cards {
	display: flex;
	gap: 25px;
	justify-content: space-between;
}
.diagnostic-item {
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	width: 386px;
	height: 196px;
	display: flex;
	flex-direction: column;
	padding: 39px;
}
.diagnostic-item img {
	width: 30px;
	margin-bottom: 16px;
}
.diagnostic-item__title {
	font-weight: 700;
	font-size:calc(14px + 4 *(100vw - 1221));
	line-height: 150%;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 21px;
}
.diagnostic-item__text {
	font-weight: 400;
	font-size:calc(14px + 4 *(100vw - 1221));
	color: #B7B7B7;
}

@media (max-width: 768px) {
	.diagnoctic__cards {
		display: flex;
		gap: 25px;
		flex-wrap: wrap;
		justify-content: center;
	}
	.diagnostic-item {
		background: #FFFFFF;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
		width: 286px;
		height: 196px;
		display: flex;
		flex-direction: column;
		padding: 39px;
	}
}
/* ------------------- */

.we-can {
	padding-bottom: 98px;
}
.we-can__container {
}
.we-can__title {
	font-weight: 700;
	font-size: 30px;
	line-height: 150%;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 15px;
}
.we-can__view-all {
	display: inline-block;
	font-weight: 400;
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 0.15em;
	text-decoration-line: underline;
	color: #000000;
	margin-bottom: 60px;
}
.we-can__cards {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	gap: 20px;
}
.we-can__picture {
	position: relative;
	width: 386px;
	height: 500px;
	overflow: hidden;
}
.we-can__image {
	width: 100%;
	object-fit: cover;
	transition: transform 400ms, filter 400ms;
}
.we-can__text {
	opacity: 0;
	max-width: 269px;
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0.23em;
	text-transform: uppercase;
	color: #FFFFFF;
	transition: opacity 400ms, transform 400ms;
}
.we-can__plus {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.we-can__text {
	position: absolute;
	bottom: 32px;
	left: 29px;
}
.we-can__plus {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #DB2512;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	opacity: 0;
	transition: opacity 400ms, transform 400ms;
}
.we-can__picture:is(:hover, :focus) > .we-can__image {
	filter: brightness(0.3);
}
.we-can__picture:is(:hover, :focus) > .we-can__text {
	opacity: 1;
}
.we-can__picture:is(:hover, :focus) > .we-can__plus {
	opacity: 1;
}
.we-can__caption {
	display: inline-block;
	margin-top: 21px;
	font-weight: 600;
	font-size: 20px;
	line-height: 150%;
	letter-spacing: 0.23em;
	text-transform: uppercase;
	color: #000000;
}
@media(max-width: 768px) {
	.we-can__picture {
		width: 286px;
		height: 400px;
	}
	.we-can__text {
		max-width: 169px;
	}
	.we-can__text {
		font-size: 14px;
	}
	.we-can__text {
		bottom: 52px;
	}
}

/* ------------------- */

.we-understand {
	background-color: #171616;
	padding: 116px 0;
}
.we-understand__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	gap: 58px;
}
.we-understand__info {
	max-width: 506px;
}
.we-understand__title {
	font-weight: 700;
	font-size: calc(24px + 6 *(100vw / 1221));
	line-height: 150%;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 42px;
}
.we-understand__text {
	font-weight: 600;
	font-size: 15px;
	line-height: 150%;
	letter-spacing: 0.23em;
	color: #B7B7B7;
	margin-bottom: 48px;
}
.we-understand__link {
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	letter-spacing: 0.15em;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #FFFFFF;
}
.we-understand__image {
	max-width: 513px;
	width: 100%;
}

/* ------------------- */

.fast-easy {
	padding: 99px 0;
}
.fast-easy__title {
	text-align: center;
	font-weight: 900;
	font-size: calc(16px + 132 * (100vw / 1221));
	line-height: 150%;
	text-transform: uppercase;
	color: #000000;
}
.fast-easy__subtitle {
	text-align: center;
	font-weight: 600;
	font-size: 40px;
	line-height: 150%;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #000000;
	margin-bottom: 92px;
}
.fast-easy__cards {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}
.fast-easy__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15px;
	padding: 12px 24px;
	width: 386px;
	height: 150px;
	background: #FFFFFF;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
}
.item__title {
	font-weight: 700;
	font-size: calc(14px + 4 *(100vw / 1221));
	line-height: 150%;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #000000;
}
.item__text {
	font-weight: 400;
	font-size: calc(14px + 4 *(100vw / 1221));
	line-height: 150%;
	color: #B7B7B7;
}
@media(max-width: 768px) {
	.fast-easy {
		padding: 69px 0;
	}
	.fast-easy__cards {
		flex-direction: column;
		align-items: center;
		gap: 25px;
	}
	.fast-easy__subtitle {
		margin-bottom: 42px;
	}
}
@media(max-width: 480px) {
	.fast-easy__item {
		width: 100%;
		min-height: 150px;
	}
}

/* ------------------- */



/* ------------------- */
.footer {
}