*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	background-color: black;
	font-family: 'Poppins';
	color: black;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

[class*="__container"] {
	max-width: 1221px;
	margin: 0 auto;
	padding: 0 10px;
}

body._lock {
	overflow: hidden;
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}
.main {
	flex: 1 1 auto;
}
.menu__body._active {
	right: 0;
}
.menu__icon._active span {
	transform: scale(0) translate(0px, -50%);
}
.menu__icon._active::before {
	top: 50%;
	transform:  translate(0px, -50%) rotate(-45deg);
}
.menu__icon._active::after {
	bottom: 50%;
	transform: translate(0px, 50%) rotate(45deg);
}
/* ------------------ */

.header {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.header__container {
	display: flex;
	min-height: 107px;
	justify-content: space-between;
	align-items: center;
}
.header__menu {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
}
.header__logo {
	z-index: 10;
}
.menu__icon {
	display: none;
}
@media (min-width: 768px) {
	.menu__list {
		display: flex;
		gap: 35px;
	}
}
.menu__link {
	color: #fff;
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	text-transform: uppercase;
}
.header__lang {
	z-index: 5;
	display: flex;
	gap: 8px;
}
.lang__choise {
	font-weight: 600;
	font-size: 15px;
	line-height: 22px;
	text-transform: uppercase;
	color: #B7B7B7;
}
@media(max-width: 768px) {
	.header__menu {
		justify-content: flex-end;
		margin-right: 24px;
	}
	.menu__icon {
		z-index: 5;
		position: relative;
		display: block;
		top: 0;
		right: 0;
		width: 31px;
		height: 21px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		position: absolute;
		width: 100%;
		height: 10%;
		background-color: #fff;
		transition: all 0.3s ease 0s;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: '';
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0, -50%);
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__body {
		position: fixed;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100%;
		background-color: #000;
		padding: 120px 30px 30px 30px;
		transition: right 0.3s ease 0s;
	}
	.menu__list li {
		margin-bottom: 50px;
	}
}
/* ------------------- */

.service {
	background: url(../img/cars-background.jpg);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
}
.service__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
}
.service__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 150%;
	text-transform: uppercase;
	color: #FFFFFF;
	max-width: 791px;
}
.service__button {
	width: 198px;
	height: 40.28px;
	background: #DB2512;
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	color: #FFFFFF;
}

/* ------------------- */

.footer {
}